[Unit]
Description=Windows (dockur/windows)
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/dockurr/windows:6.05
PublishPort=8006:8006
PublishPort=3389:3389/tcp
PublishPort=3389:3389/udp
Environment=VERSION=10
Environment=RAM_SIZE=4G
Environment=CPU_CORES=2
Environment=DISK_SIZE=64G
AddDevice=/dev/kvm
AddDevice=/dev/net/tun
AddCapability=CAP_NET_ADMIN
StopTimeout=120
Volume=windows_windows_storage:/storage
PodmanArgs=--memory=8g
PidsLimit=1024

[Service]
Restart=always

[Install]
WantedBy=default.target
