[Unit]
Description=VictoriaMetrics
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/victoriametrics/victoria-metrics:v1.150.0
PublishPort=8428:8428
Volume=victoriametrics_victoriametrics_data:/victoria-metrics-data
Exec=--storageDataPath=/victoria-metrics-data --httpListenAddr=:8428
HealthCmd=wget -q --spider http://127.0.0.1:8428/health
HealthInterval=30s
HealthTimeout=5s
HealthStartPeriod=15s
HealthRetries=3

[Service]
Restart=always

[Install]
WantedBy=default.target
