[Unit]
Description=Grafana
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/grafana/grafana-oss:11.2.0
PublishPort=3000:3000
EnvironmentFile=/srv/containers/container-files/grafana/.env
Volume=grafana_grafana_data:/var/lib/grafana:U
Volume=/srv/containers/container-files/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources:ro,z
HealthCmd=wget -q --spider http://127.0.0.1:3000/api/health
HealthInterval=30s
HealthTimeout=5s
HealthStartPeriod=30s
HealthRetries=3

[Service]
Restart=always

[Install]
WantedBy=default.target
