[Unit]
Description=Authentik Redis
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/library/redis:alpine
Network=authentik.network
NetworkAlias=redis
Volume=authentik_authentik_redis:/data

[Service]
Restart=always

[Install]
WantedBy=default.target
