[Unit]
Description=Gitea
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.gitea.com/gitea:1.26.4-rootless
Environment=GITEA__repository__ENABLE_PUSH_CREATE_USER=true
Environment=GITEA__repository__ENABLE_PUSH_CREATE_ORG=true
PublishPort=3000:3000
PublishPort=2222:2222
Volume=/srv/gitea/data:/var/lib/gitea:z
Volume=/srv/gitea/config:/etc/gitea:z
Volume=/etc/localtime:/etc/localtime:ro
HealthCmd=wget -q --spider http://127.0.0.1:3000/api/healthz
HealthInterval=30s
HealthTimeout=5s
HealthStartPeriod=30s
HealthRetries=3

[Service]
Restart=always

[Install]
WantedBy=default.target
