[Unit]
Description=Caddy
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=caddy
Image=caddy.build
Network=host
Volume=/srv/containers/container-files/caddy/data/Caddyfile:/etc/caddy/Caddyfile:ro,z
Volume=/srv/containers/container-files/caddy/data/root-ca.crt:/etc/caddy/root-ca.crt:ro,z
Volume=/srv/containers/container-files/caddy/data/intermediate.crt:/etc/caddy/intermediate.crt:ro,z
Volume=/srv/containers/container-files/caddy/data/intermediate.key:/etc/caddy/intermediate.key:ro,z
Volume=/srv/containers/appdeploy-state/caddy-apps:/etc/caddy/apps:ro,z
Volume=caddy_caddy_data:/data
Volume=caddy_caddy_config:/config

[Service]
Restart=always

[Install]
WantedBy=default.target
