[Unit]
Description=Promtail
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/grafana/promtail:3.2.1
Network=host
Volume=/srv/containers/container-files/promtail/data/promtail-config.yaml:/etc/promtail/config.yaml:ro,z
Volume=/srv/containers/container-files/syslog/data/logs:/var/log/remote:ro,z
Volume=promtail_promtail_positions:/positions
Exec=-config.file=/etc/promtail/config.yaml

[Service]
Restart=always

[Install]
WantedBy=default.target
