[Unit]
Description=InfluxDB
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/library/influxdb:2
PublishPort=8086:8086
Environment=DOCKER_INFLUXDB_INIT_MODE=setup
Environment=DOCKER_INFLUXDB_INIT_USERNAME=admin
Environment=DOCKER_INFLUXDB_INIT_ORG=homelab
Environment=DOCKER_INFLUXDB_INIT_BUCKET=metrics
EnvironmentFile=/srv/containers/container-files/influxdb/.env
Volume=influxdb_influxdb_data:/var/lib/influxdb2
Volume=influxdb_influxdb_config:/etc/influxdb2

[Service]
Restart=always

[Install]
WantedBy=default.target
