[Unit]
Description=DNS (bind)
After=network-online.target
Wants=network-online.target

[Container]
Image=dns.build
Network=host
Volume=/srv/containers/container-files/dns/data/zones:/etc/bind/zones:z
Volume=/srv/containers/container-files/dns/data/named.conf:/etc/bind/named.conf:ro,z
Volume=/srv/containers/container-files/dns/data/keys:/etc/bind/keys:ro,z

[Service]
Restart=always

[Install]
WantedBy=default.target
